:root {
  --clr-paleBlue: #e0e8ff;
  --clr-brightBlue: #3829e0;

  --clr-veryPlateBlue: #f5f7ff;
  --clr-desaturatedBlue: #7280a7;
  --clr-darkBlue: #1f2f56;
  --clr-btn-hover:  #766CF1;
  --clr-white: #fff;
 
}