.container {
  display: grid;
  place-items: center;

  height: 90rem;
  width: 100vw;
  max-width: 140rem;

  background: url("../images/pattern-background-desktop.svg"),
    var(--clr-paleBlue);
  background-repeat: no-repeat;
}
